<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>The Gentlemen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/css/p-css.css">
	<style type="text/css"></style>
	<script type="text/javascript" src="/assets/script/res.js"></script>
</head>
<body>
	<nav>
		<button class="mn-btn" onclick="window.location.href='/'">back</button>
	</nav>
	<section>
		
	</section>
	<script type="text/javascript">
		g=["https://www.youtube.com/embed/Ify9S7hj480", "https://www.youtube.com/embed/XwRg3mhIbkw"];
		var a = document.getElementsByTagName('section')[0];
		
		var n=0;
		while(n < g.length){
			a.innerHTML=a.innerHTML+"<div class='sec'><iframe src='"+g[n]+"' class='sub-sec'></iframe><div class='txt-sec'>Part "+String(n+1)+"</div></div>";
			n=n+1
		}

	</script>
</body>
</html>